body {
    background-color: #d5d6d9;
    user-select: none;
}

.wrapper {
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

/* 图片部分 */

main {
    height: 200px;
    overflow: hidden;
}

main img {
    width: 100%;
}

/* 歌曲信息 */

.song-info {
    padding: 0 20px;
    font-size: 20px;
    color: #38393C;
}

.song-info .name {
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-info .tool-box {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    font-size: 14px;
}

.song-info .info {
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-info i {
    min-width: 20%;
    font-size: 20px;
    cursor: pointer;
}

/* 工具 */

.tool {
    margin-top: 40px;
    padding: 0 20px;
}

.tool .progress {
    font-size: 12px;
}

.tool .pro-box {
    position: relative;
    width: 260px;
    line-height: 10px;
    /* background-color: #ccc; */
}

.tool .pro-bg {
    width: 260px;
    height: 6px;
    background-color: #ccc;
}

.pro-active {
    position: absolute;
    top: 0;
    width: 8px;
    height: 6px;
    background-color: #38393C;
}

.radio-box {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.radio {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 50%;
}

.tool .controls {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.tool .controls div {
    padding: 0 10px;
}

.tool .btn i {
    border: 2px solid #38393C;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.tool .prev i, .tool .next i {
    border: 2px solid #38393C;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}

/* 文字跑马灯 */

.merquee {
    overflow: hidden;
}

.tool-box .merquee {
    width: 50%;
}
.song-info .merquee-txt {
    display: inline-block;
    padding-left: 100%;
    /* 从右至左开始滚动 */
    animation: marqueeTransform 16s linear infinite;
}

@keyframes marqueeTransform {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes marqueeTransform2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
